# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [2]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head(10)

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,1/14/2019 10:14,13.83,5.739410e+12,5,Urban
1,South Michelleport,3/4/2019 18:24,30.24,2.343910e+12,72,Urban
2,Port Samanthamouth,2/24/2019 4:29,33.44,2.005070e+12,57,Urban
3,Rodneyfort,2/10/2019 23:22,23.44,5.149250e+12,34,Urban
4,South Jack,3/6/2019 4:28,34.58,3.908450e+12,46,Urban
5,South Latoya,3/11/2019 12:26,9.52,1.995000e+12,10,Urban
6,New Paulville,2/27/2019 11:17,43.25,7.932080e+11,44,Urban
7,Simpsonburgh,4/26/2019 0:43,35.98,1.119540e+11,21,Urban
8,South Karenland,1/8/2019 3:28,35.09,7.995620e+12,4,Urban
9,North Jasmine,3/9/2019 6:26,42.81,5.327640e+12,33,Urban

## Deliverable 1: Get a Summary DataFrame

In [3]:
#  1. Get the total rides for each city type

total_rides_count = pyber_data_df.groupby(["type"]).count()["ride_id"]
total_rides_count

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [4]:
# 2. Get the total drivers for each city type

total_driver_count = city_data_df.groupby(["type"]).sum()["driver_count"]
total_driver_count

type
Rural         78
Suburban     490
Urban       2405
Name: driver_count, dtype: int64

In [5]:
#  3. Get the total amount of fares for each city type

total_fare_count = pyber_data_df.groupby(['type']).sum()['fare']
total_fare_count

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [6]:
#  4. Get the average fare per ride for each city type. 

avg_fare_per_ride = (total_fare_count) / (total_rides_count)
avg_fare_per_ride

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
dtype: float64

In [7]:
# 5. Get the average fare per driver for each city type. 

avg_fare_per_driver = (total_fare_count) / (total_driver_count)
avg_fare_per_driver

type
Rural       55.486282
Suburban    39.502714
Urban       16.571468
dtype: float64

In [8]:
#  6. Create a PyBer summary DataFrame. 
pyber_summary_dict = {'type': ['Rural', 'Suburban', 'Urban'],
                     'Total Rides': [125, 625, 1625],
                     'Total Drivers': [78, 490, 2405],
                     'Total Fares': [4327.93, 19356.33, 39854.38],
                     'Average Fare per Ride': [34.6233440, 30.970128, 24.525772],
                     'Average Fare per Driver': [55.486282, 39.502714, 16.571468]}
old_pyber_summary_df = pd.DataFrame(pyber_summary_dict)
groupedpyber_summary_df = old_pyber_summary_df.groupby(['type'])
groupedpyber_summary_df.sum()
pyber_summary_df = groupedpyber_summary_df.sum()
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
type,,,,,
Rural,125,78,4327.93,34.623344,55.486282
Suburban,625,490,19356.33,30.970128,39.502714
Urban,1625,2405,39854.38,24.525772,16.571468

In [9]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Rural,125,78,4327.93,34.623344,55.486282
Suburban,625,490,19356.33,30.970128,39.502714
Urban,1625,2405,39854.38,24.525772,16.571468

In [10]:
#  8. Format the columns.

pyber_summary_df['Total Fares'] = pyber_summary_df['Total Fares'].map('${:,.2f}'.format)
pyber_summary_df['Average Fare per Ride'] = pyber_summary_df['Average Fare per Ride'].map('${:.2f}'.format)
pyber_summary_df['Average Fare per Driver'] = pyber_summary_df['Average Fare per Driver'].map('${:.2f}'.format)
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Rural,125,78,"$4,327.93",$34.62,$55.49
Suburban,625,490,"$19,356.33",$30.97,$39.50
Urban,1625,2405,"$39,854.38",$24.53,$16.57

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [11]:
# 1. Read the merged DataFrame

pyber_date_time = pyber_data_df.groupby(['type','date']).sum()['fare']
pyber_date_df = pd.DataFrame(pyber_date_time)

In [12]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

pyber_date_df

                        fare
type  date
Rural 1/1/2019 9:45    43.69
      1/11/2019 4:39   16.42
      1/14/2019 15:58  54.10
      1/14/2019 7:09   18.05
      1/15/2019 21:44  30.26
...                      ...
Urban 5/8/2019 1:54    32.69
      5/8/2019 2:31    41.33
      5/8/2019 4:20    21.99
      5/8/2019 4:39    18.45
      5/8/2019 7:29    18.55

[2364 rows x 1 columns]

In [13]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()
pyber_date_df = pyber_date_df.reset_index()
pyber_date_df.head(10)

    type             date   fare
0  Rural    1/1/2019 9:45  43.69
1  Rural   1/11/2019 4:39  16.42
2  Rural  1/14/2019 15:58  54.10
3  Rural   1/14/2019 7:09  18.05
4  Rural  1/15/2019 21:44  30.26
5  Rural   1/18/2019 0:46  15.12
6  Rural   1/18/2019 7:36  43.57
7  Rural  1/19/2019 11:40  49.44
8  Rural  1/19/2019 12:38  38.68
9  Rural  1/19/2019 20:21  56.78

In [14]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date. 
pyber_date_pivot = pyber_date_df.pivot(index='date', columns='type', values='fare')
pyber_date_pivot.head()

type            Rural  Suburban  Urban
date
1/1/2019 0:08     NaN       NaN  37.91
1/1/2019 0:46     NaN     47.74    NaN
1/1/2019 12:32    NaN     25.56    NaN
1/1/2019 14:40    NaN       NaN   5.42
1/1/2019 14:42    NaN       NaN  12.31

In [15]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

pyber_jantoapr_df = pyber_date_pivot.loc['1/1/2019':'4/29/2019']

In [16]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)
pyber_jantoapr_df.index = pd.to_datetime(pyber_jantoapr_df.index)
pyber_jantoapr_df

type                 Rural  Suburban  Urban
date
2019-01-01 00:08:00    NaN       NaN  37.91
2019-01-01 00:46:00    NaN     47.74    NaN
2019-01-01 12:32:00    NaN     25.56    NaN
2019-01-01 14:40:00    NaN       NaN   5.42
2019-01-01 14:42:00    NaN       NaN  12.31
...                    ...       ...    ...
2019-04-28 04:34:00    NaN       NaN  40.46
2019-04-28 08:15:00    NaN       NaN  22.86
2019-04-28 09:03:00    NaN       NaN  15.00
2019-04-28 09:10:00    NaN       NaN   5.73
2019-04-28 09:25:00    NaN       NaN  37.35

[2057 rows x 3 columns]

In [17]:
# 7. Check that the datatype for the index is datetime using df.info()
pyber_jantoapr_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2057 entries, 2019-01-01 00:08:00 to 2019-04-28 09:25:00
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Rural     105 non-null    float64
 1   Suburban  538 non-null    float64
 2   Urban     1416 non-null   float64
dtypes: float64(3)
memory usage: 64.3 KB

In [21]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

pyber_weekly_df = pyber_jantoapr_df.resample('W').sum()
pyber_weekly_df

type         Rural  Suburban    Urban
date
2019-01-06  187.92    721.60  1661.68
2019-01-13   67.65   1105.13  2050.43
2019-01-20  306.00   1218.20  1939.02
2019-01-27  179.69   1203.28  2129.51
2019-02-03  333.08   1042.79  2086.94
2019-02-10  115.80    974.34  2162.64
2019-02-17   95.82   1045.50  2235.07
2019-02-24  419.06   1412.74  2466.29
2019-03-03  175.14    858.46  2218.20
2019-03-10  303.94    925.27  2470.93
2019-03-17  163.39    906.20  2044.42
2019-03-24  189.76   1122.20  2368.37
2019-03-31  199.42   1045.06  1942.77
2019-04-07  177.65    354.49   613.93
2019-04-14  214.60    568.47  2024.25
2019-04-21  214.14   1149.27  2303.80
2019-04-28  191.85   1357.75  2238.29

In [ ]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')